{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-16 custom-banner" 
    style="
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 8px; /* Optional: Adds rounded corners */
      padding: 20px; /* Adds spacing inside the section */
    ">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-7 md:col-9 mb-8  text-center ">
            <h1 class="mb-4 text-h3 lg:text-h1">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                  class="btn btn-primary"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener"
                  {{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-12 text-center">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" "DisplayXL" "800x" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->


<!-- Intro Section -->
{{ with .Params.intro }}
<section class="section pt-8">
  <div class="overflow-hidden">
    <div class="row justify-center text-center">
      <div class="col-12 lg:col-8">
        <h2 class="mb-4 text-center">{{ .heading }}</h2>
        <p class="text-md text-justify">{{ .content | markdownify }}</p>
        {{ with .button }}
          {{ if .enable }}
            <a
              class="btn btn-primary mt-6"
              href="{{ .link | absURL }}"
              {{ if strings.HasPrefix .link `http` }}
                target="_blank" rel="noopener"
              {{ end }}>
              {{ .label }}
              <i class="fa fa-arrow-right pl-2"></i>
            </a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Intro Section -->


 <!-- Intro Section -->
 {{ with .Params.intro2 }}
 <section class="section pt-8">
   <div class="overflow-hidden">
     <div class="row justify-center text-center ">
       <div class="col-12 lg:col-8">
         <h2 class="mb-4 text-center" >{{ .heading }}</h2>
         <p class="text-md text-justify">{{ .content | markdownify }}</p>
         {{ with .button }}
         {{ if .enable }}
           <a
             class="btn btn-primary mt-6"
             href="{{ .link | absURL }}"
             {{ if strings.HasPrefix .link `http` }}
               target="_blank" rel="noopener"
             {{ end }}>
             {{ .label }}
             <i class="fa fa-arrow-right pl-2"></i>
           </a>
         {{ end }}
       {{ end }}
     </div>
   </div>
 </div>
</section>
{{ end }}
 <!-- /Intro Section -->

 <!-- Intro Section -->
 {{ with .Params.intro3 }}
 <section class="section pt-8">
   <div class="overflow-hidden">
     <div class="row justify-center text-center ">
       <div class="col-12 lg:col-8">
         <h2 class="mb-4 text-center" >{{ .heading }}</h2>
         <p class="text-md text-justify">{{ .content | markdownify }}</p>
         {{ with .button }}
         {{ if .enable }}
           <a
             class="btn btn-primary mt-6 mr-6"
             href="{{ .link | absURL }}"
             {{ if strings.HasPrefix .link `http` }}
               target="_blank" rel="noopener"
             {{ end }}>
             {{ .label }}
             <i class="fa fa-arrow-right pl-2"></i>
           </a>
         {{ end }}
       {{ end }}
       {{ with .button2 }}
       {{ if .enable }}
         <a class="btn text-white bg-blue-900 mt-6"
            href="{{ .link | absURL }}"
            {{ if strings.HasPrefix .link `http` }}
              target="_blank" rel="noopener"
            {{ end }}>
           {{ .label }}
           <i class="fa fa-arrow-right pl-2"></i>
         </a>
       {{ end }}
     {{ end }}
     </div>
   </div>
 </div>
</section>
{{ end }}
 <!-- /Intro Section -->

  <!-- Intro Section -->
  {{ with .Params.intro4 }}
  <section class="section pt-8">
    <div class="overflow-hidden">
      <div class="row justify-center text-center ">
        <div class="col-12 lg:col-8">
          <h2 class="mb-4 text-center" >{{ .heading }}</h2>
          <p class="text-md text-justify">{{ .content | markdownify }}</p>
          {{ with .button }}
          {{ if .enable }}
            <a
              class="btn btn-primary mt-6"
              href="{{ .link | absURL }}"
              {{ if strings.HasPrefix .link `http` }}
                target="_blank" rel="noopener"
              {{ end }}>
              {{ .label }}
              <i class="fa fa-arrow-right pl-2"></i>
            </a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
 </section>
 {{ end }}
  <!-- /Intro Section -->

  <!-- Features -->
  <!-- {{ range $i, $e:= .Params.features }}
    <section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
      <div class="container">
        <div class="row items-center justify-between">
          <div
            class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-6">
            {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
          </div>
          <div
            class="{{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-6">
            <h2 class="mb-4">
              {{ .title | markdownify }}
            </h2>
            <p class="mb-8 text-lg">
              {{ .content | markdownify }}
            </p>
            <ul>
              {{ range .bulletpoints }}
                <li class="relative mb-4 pl-6">
                  <i class="fa fa-check absolute left-0 top-1.5"></i>
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ul>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  /Features -->
{{ end }}
